<div class="table-wrapper">
  <p-table #dt [value]="data" showGridlines styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [responsiveLayout]="'scroll'">
    <ng-template #header>
      <tr>
        @for(col of cols;track col.field){
        <th>
          {{ col.header }}
        </th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-row>
      <tr>
        @for(col of cols;track col.field){
        <td>
          @if(col.field === 'storeActions'){
          <div class="flex">
            <p-button severity="success" [disabled]="!row.selectedShop" (onClick)="confirmOperation('accept', row)" icon="pi pi-check" appendTo="body" class="p-button-sm"></p-button>
            <p-button severity="danger" (onClick)="confirmOperation('reject', row)" icon="pi pi-times" appendTo="body" class="p-button-sm"></p-button>
            <p-button severity="help" (onClick)="confirmOperation('delete', row)" icon="pi pi-trash" appendTo="body" class="p-button-sm"></p-button>
          </div>
          }@else if (col.field === 'shop') {
          <p-dropdown [options]="shops" [(ngModel)]="row.selectedShop" optionLabel="name" placeholder="Select Shop" appendTo="body" class="w-full" (onChange)="onShopChange(row)"></p-dropdown>
          } @else { {{ getFieldValue(row, col.field) }} }
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
