<div class="table-wrapper">
  <p-table #dt [value]="data" showGridlines styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [responsiveLayout]="'scroll'">
    <ng-template #header>
      <tr>
        @for(col of cols;track col.field){
        <th>
          {{ col.header }}
        </th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-row>
      <tr>
        @for(col of cols;track col.field){
        <td>
          @if(col.field === 'storeActions'){
          <div class="flex">
            @if(isFromSales){
            <p-button severity="success" [disabled]="!row.shopId || row.status === 'Accepted'" (onClick)="confirmOperation('accept', statusLabels.accepted, row)" icon="pi pi-check" appendTo="body" class="p-button-sm"></p-button>
            }@else {
            <p-button severity="info" [disabled]="!row.shopId" (onClick)="confirmOperation('forward', statusLabels.wfa, row)" icon="pi pi-send" appendTo="body" class="p-button-sm"></p-button>
            }
            <p-button severity="danger" [disabled]="row.status === 'Accepted'" (onClick)="confirmOperation('reject', statusLabels.rejected, row)" icon="pi pi-times" appendTo="body" class="p-button-sm"></p-button>
            @if(!isFromSales){
            <p-button severity="help" (onClick)="confirmOperation('delete', statusLabels.deleted, row)" icon="pi pi-trash" appendTo="body" class="p-button-sm"></p-button>
            }
          </div>
          }@else if (col.field === 'shop') {
          <p-dropdown [options]="shops" optionLabel="name" optionValue="id" [disabled]="isFromSales" [(ngModel)]="row.shopId" placeholder="Select Shop" appendTo="body" class="w-full" (onChange)="onShopChange(row)"></p-dropdown>
          }@else if (col.field==='date') {
          {{ row.date | date : 'medium' }}
          } @else { {{ getFieldValue(row, col.field) }} }
        </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No records found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
