.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid #FF9900;
    border-radius: 40px;
    padding: 100px;
}


h1 {
    font-size: 3rem;
}

h1,
h2 {
    text-align: center;
    color: #FF9900
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

}

p-button {
    align-self: end;
}