<div class="grid grid-cols-[repeat(auto-fit,_minmax(350px,_1fr))] gap-4">
  @for(product of products; track product.id){
  <app-product-card [data]="product"></app-product-card>
  }
</div>

<p-dialog header="Add" [(visible)]="displayProductDialog" [modal]="true" (onHide)="productService.productAddModal.next(false)" [style]="{ width: '400px' }" class="edit-dialog">
  <div>
    <div>
      <form [formGroup]="productAddForm" (ngSubmit)="addProduct()" (keypress.enter)="addProduct()">
        <input pInputText placeholder="quantity" type="number" formControlName="quantity" name="quantity" id="quantity" />
        <p-button type="submit" label="Login" />
      </form>
    </div>
    @if(productService.chosenProduct.getValue()){
    <app-product-card [isInDialog]="true" [data]="productService.chosenProduct.getValue()!"></app-product-card>
    }
  </div>
</p-dialog>
