<div class="grid grid-cols-[repeat(auto-fit,_minmax(350px,_1fr))] gap-4">
  @for(product of products; track product.id){
  <app-product-card [data]="product"></app-product-card>
  }
</div>

<p-dialog header="Add" [(visible)]="displayProductDialog" [modal]="true" (onHide)="closeDialog()" [style]="{ width: '650px' }" class="edit-dialog">
  <div class="flex gap-6 p-4 items-start">
    <form [formGroup]="productAddForm" (ngSubmit)="addProduct()" (keypress.enter)="addProduct()" class="flex flex-col gap-4 w-2/5">
      <div class="flex flex-col gap-1">
        <label for="quantity" class="text-sm font-semibold text-gray-700">Quantity</label>
        <input pInputText id="quantity" type="number" placeholder="Enter quantity" formControlName="quantity" />
      </div>
      <p-button type="submit" label="Order" class="w-full" />
    </form>

    <div class="w-3/5">
      <app-product-card [isInDialog]="true" [data]="productService.chosenProduct.getValue()" class="w-full"></app-product-card>
    </div>
  </div>
</p-dialog>
